<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Storage</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Storages" class="btn btn-info form-control text-white">
            Add New Order
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_storage" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Receipt Date</th>
                    <th>Supplier Id</th>
                    <th>Order Date</th>
                    <th>Customer Id</th>
                    <th>Departure Date</th>
                    <th>Delivery Method</th>
                    <th>Volume</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/storages.js"></script>
}




