<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Customers</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Customers" class="btn btn-info form-control text-white">
            Add New Customer
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_customer" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/customers.js"></script>
}

